<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eldritch Horror CodeJam by Sergey Koksharov</title>
    <link rel="icon" href="./favicon.ico" sizes="any" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="<%= require('./assets/icon.svg') %>"
    />
    <link
      rel="apple-touch-icon"
      href="<%= require('./assets/apple-touch-icon.png') %>"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="left-ui">
        <div class="ancients">
          <div
            class="ancient ancient_active ancient_azathoth"
            data-ancient="azathoth"
          ></div>
          <div class="ancient ancient_cthulhu" data-ancient="cthulhu"></div>
          <div
            class="ancient ancient_shubniggurath"
            data-ancient="shubniggurath"
          ></div>
          <div
            class="ancient ancient_yogsothoth"
            data-ancient="yogsothoth"
          ></div>
        </div>

        <div class="buttons">
          <button
            class="button difficulty-button"
            type="button"
            data-difficulty="very-easy"
          >
            💀 очень легкий
          </button>
          <button
            class="button difficulty-button"
            type="button"
            data-difficulty="easy"
          >
            💀💀 легкий
          </button>
          <button
            class="button difficulty-button difficulty-button_active"
            type="button"
            data-difficulty="normal"
          >
            💀💀💀 средний
          </button>
          <button
            class="button difficulty-button"
            type="button"
            data-difficulty="hard"
          >
            💀💀💀💀 трудный
          </button>
          <button
            class="button difficulty-button"
            type="button"
            data-difficulty="very-hard"
          >
            💀💀💀💀💀 очень трудный
          </button>
          <button class="button shuffle-button" type="button">
            ⚔️ раздать
          </button>
        </div>
      </div>

      <div class="right-ui">
        <div class="ticker">
          <div class="ticker__stage stage1">
            <span class="ticker__cell green"></span>
            <span class="ticker__cell yellow"></span>
            <span class="ticker__cell blue"></span>
          </div>
          <div class="ticker__stage stage2">
            <span class="ticker__cell green"></span>
            <span class="ticker__cell yellow"></span>
            <span class="ticker__cell blue"></span>
          </div>
          <div class="ticker__stage stage3">
            <span class="ticker__cell green"></span>
            <span class="ticker__cell yellow"></span>
            <span class="ticker__cell blue"></span>
          </div>
        </div>

        <div class="card"></div>
      </div>
    </div>
  </body>
</html>
